:root {
  --primary-color: #5628B4;
  --secondary-color: #D80E70;
  --accent-color: #E7455F;
  --descent-color: #F7B236;

  --app-radius: 5px;
}
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}

html, body {
  margin: 0;
  height: 100%;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
}

.app-wrapper {
  position: relative;
  height: 100%;
  background: #FAFAFA;
  overflow: hidden; /* allows element that hide during transition */
}

.app-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(https://source.unsplash.com/featured/1400x900/?focus,minimal,nature);
  background-size: cover;
  transition: all 1s ease;
  opacity: 0;
}
.app-background--show {
  opacity: 1;
}

.app-icon {
  width: 20px;
  vertical-align: middle;
}

.app-close-dashboard-btn {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 10px;
  padding: 5px;
  background: rgba(0, 0, 0, .8);
  border-radius: 0 0 5px 5px;
}
.app-show-dashboard-btn {
  position: absolute;
  top: 0;
  right: 0;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
}

.app-content {
  position: relative;
  height: 100%;
  display: grid;
  grid-gap: 20px;
  padding: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  overflow: auto;
}

.app-dashboard-widget {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, .3);
  border-radius: var(--app-radius);
  padding: 20px;
  color: #ffffff;
  transition: all .3s ease;
  text-align: center;
}
.app-dashboard-widget:hover {
  background: rgba(0, 0, 0, .5);
}
.app-dashboard-widget--full-width {
  grid-column: 1 / -1;
}
.app-dashboard-widget--histogram {
  grid-column: 1 / -1;
}
.app-dashboard-widget__chart {
  position: relative;
  display: block;
  height: 300px;
}
.app-dashboard-widget__title {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}
.app-dashboard-widget__data {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 48px;
  font-weight: 300;
}
.app-dashboard-widget__item-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.widget-grid-item {
  padding: 20px;
}
.widget-grid-item__domain {
  font-size: 18px;
  margin-bottom: 10px;
}
.widget-grid-item .timespent {
  opacity: .8;
}
.widget-grid-item .timespent__count {
  font-size: 14px;
}
.widget-grid-item .timespent__unit {
  font-size: 10px;
}

.app-clock-container {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  transition: all .3s ease;
  opacity: 0;
  transform: translateY(-25%);
}
.app-clock-container--show {
  opacity: 1;
  transform: translateY(0);
}

.top-domain-stats {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 50px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  color: #ffffff;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, .2);
  transition: all .3s ease;
  opacity: 0;
  transform: translateY(25%);
}
.top-domain-stats--show {
  opacity: .5;
  transform: translateY(0);
  transition: all .3s ease-out;
}
.top-domain-stats--show:hover {
  opacity: 1;
}

.top-domain-stats__top {
  position: relative;
}
.top-domain-stats__title {
  text-transform: uppercase;
  font-size: 16px;
  margin: 15px 0;
}
.top-domain-stats__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1px, 1fr));
}
.top-domain-stat {
  display: inline-block;
}
.top-domain-stat .timespent__count {
  display: inline-block;
  font-size: 32px;
  font-weight: 300;
}
.top-domain-stat .timespent__unit {
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
}
.top-domain-stat__domain {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}